<mat-horizontal-stepper #stepper>
  <mat-step>
    Step 1
  </mat-step>
  <mat-step>
    Step 2
  </mat-step>
  <mat-step>
    Step 3
  </mat-step>
  <!-- one option -->

</mat-horizontal-stepper>

<!-- second option -->
<div>
  <button (click)="goBack(stepper)" type="button" [disabled]="stepper.selectedIndex === 0">Back</button>
  <button (click)="goForward(stepper)" type="button"
    [disabled]="stepper.selectedIndex === stepper._steps.length-1">Next</button>

  <!-- using totalStepsCount -->
  <!-- <button (click)="goForward(stepper)" type="button" [disabled]="stepper.selectedIndex === totalStepsCount-1">Next</button> -->
</div>